body {
	background-color: #2A2A2A;
}

#heading {
	font-family: Arial, sans-serif;
	color: white;
	font-style: normal;
	font-weight: 50;
	font-variant: small-caps;
	font-size: 50px;

	display: flex;
	align-items: center;
}

#header {
	position: absolute;
  	width: 400px;
 	height: 200px;
  	z-index: 15;
  	top: 18%;
  	left: 50%;
  	margin: -100px 0 0 -150px;
}

#userImg {
	position: absolute;
	top: 21%;
	left: 3%;
	font-family: Arial, sans-serif;
	color: white;
	font-style: normal;
	font-weight: 50;
	font-variant: small-caps;
	font-size: 20px;

	display: flex;
	align-items: center;
}


#Img {
	overflow: scroll;
	position: absolute;
	height: 800px;
	width: 1280px;
	z-index: 15;
	top: 35%;
	left: 3%;
	background-color: #212121;
	border-style: ridge;
	border-width: 1px;
	border-color: black;

	font-family: Arial, sans-serif;
	color: white;
	font-style: normal;
	font-weight: 50;
	font-variant: small-caps;
	font-size: 15px;

	display: flex;
	align-items: center;
}

